body{
	background-color: #333333;
}

.myname{
	font-family: Rockwell, Bookman, Courier, serif;
	font-size: 60px;
	font-weight: bold;
	color: #78BECB;
}
.title{
	font-family: Rockwell, Bookman, Courier, serif;
	font-size: 28px;
	font-weight: bold;
	color: #78BECB;
}
#navibar{
	font-family: Tw Cen MT, Avant Garde, sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #78BECB;
}
#navibar a{
	color:#78BECB;
	text-decoration: none;
	}
#navibar a:hover{
	background-color:#78BECB;
	color: #333333;
	text-decoration: none;
	}
p {
	font-family: Tw Cen MT, Avant Garde, sans-serif;
}