#navibar {
  display: block;
  padding: 10px;
  float: right;
  height: 20px; }

#header {
  float: center;
  text-align: center;
  margin-top: 20px; }

#contact {
  margin-left: auto;
	margin-right: auto;
}

body {
  background-color: #333333; }

.myname {
  font-family: Rockwell, Bookman, Arvo, serif;
  font-size: 60px;
  font-weight: bold;
  color: #78BECB; }

.title {
  font-family: Rockwell, Bookman, Arvo, serif;
  font-size: 34px;
  font-weight: bold;
  color: #bdbdbd; }

ul {
  margin-right: 5%; }
  ul #navibar {
    font-family: Tw Cen MT, Avant Garde, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #78BECB; }
    ul #navibar a {
      color: #d2a9c8;
      text-decoration: none; }
    ul #navibar a:hover {
      background-color: #bdbdbd;
      color: #333333;
      text-decoration: none; }

h4 {
  margin-right: 2%;
  padding-left: 1%;
  text-align: left;
  font-family: Tw Cen MT, Avant Garde, sans-serif;
  font-size: 22px;
  font-weight: bold;
  background-color: #bdbdbd;
  color: #333333; }

.container {
  margin-left: 7.5%;
  margin-right: 7.5%;
  line-height: 18px; }

p {
  font-family: Tw Cen MT, Avant Garde, sans-serif;
  font-size: 16px;
  color: #78BECB;
  line-height: 18px; }
  p a {
    text-decoration: none;
    color: #d2a9c8; }
  p a:hover {
    color: #bdbdbd; }

.jobtitle {
  text-align: center;
  font-family: Tw Cen MT, Avant Garde, sans-serif;
  font-size: 20px;
  color: #78BECB; }

.achievements {
  text-align: center;
  font-family: Tw Cen MT, Avant Garde, sans-serif;
  font-size: 16px;
  color: #bdbdbd; }

table {
  text-align: left;
  font-family: Tw Cen MT, Avant Garde, sans-serif;
  font-size: 18px;
  color: #78BECB; }
  table a {
    text-decoration: none;
    color: #d2a9c8; }
  table a:hover {
    color: #bdbdbd; }
  table th {
    text-align: right;
    padding-right: 2%;
    padding-left: 1%;
    vertical-align: top; }

textarea {
  background: #333333;
  border: 2px solid #bdbdbd;
  color: #bdbdbd;
  height: 200px;
  width: 420px; }

.btn-primary {
  background-color: #d2a9c8;
  border: 1px solid #bdbdbd;
  font-family: Tw Cen MT, Avant Garde, sans-serif;
  font-size: 16px;
  color: #333333;
  font-weight: bold;
  padding: 5px 10px; }

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  color: #d2a9c8;
  background-color: #333333;
  border-color: #bdbdbd; }
