body{
	background-color: #333333;
}
.myname{
	font-family: Rockwell, Bookman, Courier New, serif;
	font-size: 60px;
	font-weight: bold;
	color: #78BECB;
}
.title{
	font-family: Rockwell, Bookman, Courier New, serif;
	font-size: 34px;
	font-weight: bold;
	color: #78BECB;
}
#navibar{
	font-family: Tw Cen MT, Avant Garde, sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #78BECB;
}
#navibar a{
	color:#78BECB;
	text-decoration: none;
	}
#navibar a:hover{
	background-color:#78BECB;
	color: #333333;
	text-decoration: none;
	}
h4{
	margin-left: 20%;
	margin-right: 20%;
	text-align: center;
	font-family: Tw Cen MT, Avant Garde, sans-serif;
	font-size: 22px;
	font-weight: bold;
	background-color:#78BECB;
	color: #333333;
}
#content{
	text-align: center;
}
p {
	font-family: Tw Cen MT, Avant Garde, sans-serif;
	font-size: 16px;
	color:#bdbdbd;
}
.jobtitle{
	text-align: center;
	font-family: Tw Cen MT, Avant Garde, sans-serif;
	font-size: 20px;
	color:#bdbdbd;
}